<button class="btn btn-primary pill" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample">
    Chat room
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Aqui chat ⬇⬇⬇⬇⬇👻</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      @defer (on hover) {
        <app-chat></app-chat>
      }
      @placeholder {
        <img src="/../assets/ghost.gif" alt="fantasma">
      }



    
    </div>
</div>