<section class="vh-50" style="background-color: #f4f5f7af;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col ">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://github.com/GiseleMM.png" alt="foto" class="img-fluid my-5 rounded-5 "
                style="width: 70px;" />
              <h5>Gisele Medina </h5>
              <p>Trainer developer</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-2 mb-3">
                    <!-- <h6>Github</h6>
                    <p class="text-muted">https://github.com/GiseleMM</p> -->
                  </div>
                  <div class="col-10 mb-3">
                    <h6>Mi Juego: Encuentra las Diferencias </h6>
                    <p class="text-muted">Cómo Jugar: </p>
                    <ol>
                      <li>Haz clic en "Jugar" para comenzar.</li>
                      <li> Se te mostrarán dos imágenes casi idénticas.</li>
                      <li> Examina cuidadosamente ambas imágenes y encuentra las diferencias entre ellas.</li>
                      <li> Haz clic en las áreas donde notes una diferencia.</li>
                      <li>Haz clic en "Jugar" para comenzar.</li>
                      <li>¡Intenta encontrar todas las diferencias antes de que se acabe el tiempo!</li>
                    </ol>
                  </div>
                </div>
                <h6>Projects</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Recent</h6>
                    <p class="text-muted">Tp sala de juegos</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Sprint</h6>
                    <p class="text-muted">4</p>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>