
    <div class="juegos mh-100" style="background-color: #f4f5f7af; min-height: 50vh;" >

      <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" routerLink="ahorcado" [class.disabled]="desactivada">ahorcado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="mayormenor" [class.disabled]="desactivada" >mayor menor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true" routerLink="preguntados">preguntados</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link disabled "routerLink="***" >mi juego</a>
              </li>
          </ul>
          
          <router-outlet />
    
    </div>
    